repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py310-plus]
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        args: ["--target-version", "py310"]
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        pass_filenames: false
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies:
          - asgiref
          - types-aiofiles
