name: pytest

on:
  push:
    branches:
      - main
    paths:
      - "**.py"

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Checkout repository
        # https://github.com/actions/checkout
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        # https://github.com/actions/setup-python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pip
        # https://github.com/actions/cache
        uses: actions/cache@v4
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
      - name: Install dependencies
        run: |
          pip install -U -r requirements/base.txt
          pip install -U -r requirements/test.txt
      - name: Test with pytest
        run: |
          pytest --cov=asgi_middleware_static_file --cov-report=xml
      - name: Upload coverage to Codecov
        # https://github.com/codecov/codecov-action
        uses: codecov/codecov-action@v5
        with:
          verbose: true # optional (default = false)
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
